{% extends 'arbitros/base.html' %}
    {% block content %}

    <a class="waves-effect waves-light btn" href="{% url 'arbitros.views.partido_nuevo' %}"><i class="material-icons left">create</i>Partido Nuevo</a>
    {% for pr in partidos %}
        <div class="agenda">
            <h1><a href="{% url 'arbitros.views.partido_detalle' pk=pr.pk %}">{{ pr.nombre }}</a></h1>
            <div class="text-detail">
              <h5>Fecha: {{ pr.fecha }}</h5>
          </div>
        </div>
    {% endfor %}
  {% endblock content %}
